.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
}

.footer {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
